<div class="information-block">
  <div class="flex-center">
    <div class="blovk-relative">
      <img alt="мемная картинка" src="/content/mafia.jpg" width="587" height="289" class="img-class">
      <div class="text-card">
        <h1>Что это за сайт?</h1>
        <p>На этом сайте будет интернет магазин - продажа билетов на российский этап <strong>формулы 1 в Сочи</strong></p>
        <p>Будем наблюдать за развитием борьбы в кубке конструкторов в следующем сезоне после нововведений в регламент, сможет ли
          <i>Mercedec</i> оставить за собой лидерство и поднимется ли <i>Ferrari</i> до уровня топ команд</p>
        <p>Надеюсь сделать его красивее, чем официальный и опробовать в нём много нового</p>
      </div>
    </div>
  </div>
</div>

<div class="information-block">
  <div class="flex-center">
    <div class="blovk-relative">
      <img alt="мемная картинка" src="/content/f1crash.jpg" width="2560" height="1440" class="img-class">
      <div class="text-card">
        <h1>Формула 1</h1>
        <p>Формула 1 – это высшая категория в автоспорте для машин с открытыми колесами. В ней сильнейшие пилоты
          ведут борьбу под пристальным вниманием миллионов болельщиков по всей планете.</p>
        <p>Спортивный уикенд Формулы 1 состоит из трех тренировочных сессий, квалификации и гонки, в которой
          определится победитель Гран-при России. После финиша гонки тройка призеров и представитель победившей
          команды поднимутся на подиум для церемонии награждения.</p>
      </div>
    </div>
  </div>
</div>

<div class="information-block">
  <div class="flex-center">
    <div class="blovk-relative">
      <img alt="мемная картинка" src="/content/HAMRUS.jpeg" width="1920" height="1080" class="img-class">
      <div class="text-card">
        <h1>О Сочи Автодроме</h1>
        <p>Сочи Автодром – единственный в России автодром, принимающий гонки Формулы 1.
          Он был спроектирован компанией Tilke Gmbh & Co. KG. и официально открыт в Олимпийском парке Сочи 20
          сентября 2014 года. С 9 по 12 октября 2014 года на нем прошел первый в истории Гран-при России
          Формулы 1.Длина трассы Сочи Автодрома составляет 5848 метров. Она пролегает среди объектов, принимавших
          Зимние Олимпийские игры 2014. Всего на треке 18 поворотов: 12 правых и 6 левых. В конфигурации трассы
          обращает на себя внимание затяжной третий поворот — 750-метровый левый вираж с постоянным радиусом.</p>
      </div>
    </div>
  </div>
</div>