<footer>
  Данный сайт создаётся в учебных целях, он не является настоящей продажей билетов на ф1. Автор сайта считает
  российский сайт продажи билетов грустным, хочет улучшить его и сделать в стиле сайта F1 Tickets
  <p id="SpeedTest">New speed is {{data}} ms (from server)</p>
</footer>