<div class="photo-gallery">
  <div class="flex-gallery">
    <img class="flex-gallery-photo" src="/content/gallery1.jpg">
    <img class="flex-gallery-photo" src="/content/gallery2.jpg">
    <img class="flex-gallery-photo" src="/content/gallery3.jpg">
    <img class="flex-gallery-photo" src="/content/gallery4.jpg">
    <img class="flex-gallery-photo" src="/content/gallery5.jpg">
    <img class="flex-gallery-photo" src="/content/gallery7.jpg">
    <img class="flex-gallery-photo" src="/content/gallery8.jpg">
  </div>
</div>