<table class="Racing-table">
  <thead><tr>
    <th>Страна</th>
    <th>Город</th>
    <th>Дата начала уикенда</th>
    <th>Дата окончания уикенда</th>
  </tr></thead>
  <tbody>
  <tr><td>США</td><td>Остин</td><td>22.10.2021</td><td>24.10.2021</td></tr>
  <tr><td>Мексика</td><td>Мехико</td><td>05.11.2021</td><td>07.11.2021</td></tr>
  <tr><td>Бразилия</td><td>Сан-Паулу</td><td>12.11.2021</td><td>14.11.2021</td></tr>
  <tr><td>Катар</td><td>Лусаил</td><td>19.11.2021</td><td>21.11.2021</td></tr>
  <tr><td>Саудовская Аравия</td><td>Джидда</td><td>03.12.2021</td><td>05.12.2021</td></tr>
  <tr><td>Абу-Даби</td><td>Абу-Даби</td><td>10.12.2021</td><td>12.12.2021</td></tr>
  </tbody>
</table>