<div class="photo-gallery">
  <div class="flex-gallery">
    <div class="ticket">Крутой богатый билет</div>
    <div class="ticket">Средний билет для народа</div>
    <div class="ticket">Свободное размещение для остальных</div>
  </div>
</div>