<!DOCTYPE html>
<html lang="ru">

<head>
  <title>F1 tickets Sochi gp</title>
  {{>commonHeader}}
</head>

<body class="tickets-seller">
<div id="wrap">
  {{>header}}
  <main>
    {{>video}}
    {{>aboutWebSiteInfo}}
    {{>raceTable}}
    {{>gallery}}
  </main>
</div>
{{>footer data = data}}
</body>

</html>