<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Shopping bag</title>
  {{>commonHeader}}
  <link href="../CSS/TaskManager.css" rel="stylesheet">
  <script src="../JS/ToDoForm.js"></script>
</head>

<body class="tickets-seller">
<div id="wrap">
  {{>header}}
  <main>
    {{>taskManager}}
  </main>
</div>
{{>footer}}
</body>

</html>