<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Tickets</title>
  {{>commonHeader}}
</head>

<body class="tickets-seller">
<div id="wrap">
  {{>header}}
  <main>
    {{>ticketSell}}
  </main>
</div>
{{>footer}}
</body>

</html>